.sidebarRow {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebarRow__icon {
  color: gray;
}

.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
  color: red;
}
